<% form_for [@group, @user], :url => group_members_path do |f| %>
  <%= f.error_messages :class => 'info-box' %>
  <div class="gform_wrapper">
    <div class="gform_body">
  		<ul class="gform_fields right_label">
        <li class="gfield">
          <%= f.label :username, "Nombre del Usuario a agregar", :class => 'gfield_label' %>
          <div class="ginput_container"><%= f.text_field :username  %></div>
        </li>
      </ul>
    </div>

    <div class="gform_footer right_label">
      <input type="image" tabindex="6" src="/images/woo/btn-submit.png">
    </div>
  </div>
<% end %>
