<p>
  Se ha creado una solicitud para restablecer su contraseña. Si usted no hizo
  esta solicitud, simplemente ignore este email. Si usted hizo esta solicitud,
  por favor haga click en el siguiente enlace.
</p>

<%= link_to "Restablecer contraseña", @edit_password_reset_url %>
