<% title 'Ayuda del sistema' %>
<div class="post wrap">
  <h4>Conceptos preliminares</h4>
  <ol>
    <li><a href="#gen-1">Que es WUCA?</a></li>
    <li><a href="#gen-2">Que es un widget?</a></li>
  </ol>
  <h4>Primeros pasos</h4>
  <ol>
    <li><a href="#gen-3">Como agrego un widget a mi escritorio?</a></li>
    <li><a href="#gen-4">Como puedo configurar las opciones de un widget?</a></li>
    <li><a href="#gen-5">Como quito un widget que no ya no lo uso?</a></li>
    <li><a href="#gen-6">Para qué me sirve agregar una nueva pestaña al escritorio? Como la agrego?</a></li>
    <li><a href="#gen-7">Como configuro una pestaña?</a></li>
    <li><a href="#gen-8">Como cambio el tema de mi escritorio?</a></li>
    <li><a href="#gen-9">Puedo obtener la misma configuración de mi escritorio en otra computadora?</a></li>
    <li><a href="#gen-10">Como me registro en el sistema? Como inicio sesión?</a></li>
    <li><a href="#gen-11">Olvide cual era mi contraseña, como la recupero?</a></li>
    <li><a href="#gen-12">Como puedo cambiar los datos de mi perfil?</a></li>
    <li><a href="#gen-13">Al iniciar sesión, me despliega un mensaje "Usuario baneado". Que significa eso? A que se debe esto? Como recupero mi cuenta?</a></li>
    <li><a href="#gen-14">Como puedo comentar un widget? Puedo puntuarlo?</a></li>
  </ol>
  <h4>Colaborar con WUCA</h4>
  <ol>
    <li><a href="#gen-15">Cuales son los privilegios de un usuario desarrollador?</a></li>
    <li><a href="#gen-16">Cuales son los pasos para registrar un widget?</a></li>
    <li><a href="#gen-17">Quiero modificar unos de mis widgets, como lo hago?</a></li>
    <li><a href="#gen-18">Para que se crea un grupo?</a></li>
    <li><a href="#gen-19">Como creo un grupo?</a></li>
    <li><a href="#gen-20">Como administro a los miembro y widgets de un grupo?</a></li>
    <li><a href="#gen-21">Como registro un tema?</a></li>
    <li><a href="#gen-22">Quiero modificar unos de mis temas, como lo hago?</a></li>
  </ol>
  <h4>Solucion de problemas</h4>
  <ol>
    <li><a href="#gen-23">Sobre que plataformas funciona WUCA? Sistema Operativo? Hardware?</a></li>
    <li><a href="#gen-24">Cuáles son los navegadores que soporta WUCA?</a></li>
    <li><a href="#gen-25">Que significa que debo tener activadas las cookies y javascript? Como las activo?</a></li>
    <li><a href="#gen-26">Que significa "Información no disponible temporalmente"?</a></li>
    <li><a href="#gen-27">Me sale un error que no logro descifrarlo, como lo reporto?</a></li>
    <li><a href="#gen-28">Tengo otras preguntas que no aparecen en el listado? Como puedo ponerme en contacto con ustedes?</a></li>
  </ol>

  <div class="answers">
    <h3 class="faq">CONCEPTOS PRELIMINARES</h3>
    <p><a name="gen-1"></a></p>
    <h4>Que es WUCA?</h4>
    <p>Es una plataforma web que permite a los usuarios la integración de diferentes tipos de servicios mediante el uso de widgets en un escritorio virtual.</p>
    <p>El Proyecto Widgets surgió en el año 2009, como Trabajo Práctico de la asignatura Ingeniería de Software de la Universidad Católica Nuestra Señora de la Asunción, Paraguay.</p>

    <p><a name="gen-2"></a></p>
    <h4>Que es un widget?</h4>
    <p>Es una mini-aplicación diseñada para proveer información o servicios de cualquier tipo a través internet. Los widgets son añadidos a un escritorio, que es el encargado de proporcionar un ambiente integrado sobre el cual se muestran y ejecutan los widgets en el navegador Web.</p>

    <h3 class="faq">PRIMEROS PASOS</h3>
    <p><a name="gen-3"></a></p>
    <h4>Como agrego un widget a mi escritorio?</h4>
    <ul>
      <li>Buscar el widget deseado</li>
      <ul>
        <li>Clic en el menu Widgets</li>
        <li>Buscar el widget</li>
        <ul>
            <li>Eligiendo directamente de la lista</li>
            <li>Buscando por categorías</li>
            <li>Buscando por palabras claves</li>
        </ul>
        <li>Clic sobre el Widget deseado</li>
        <li>Clic sobre Añadir al escritorio</li>
        <li>Especificar la pestaña destino</li>
      </ul>
    </ul>

    <p><a name="gen-4"></a></p>
    <h4>Como puedo configurar las opciones de un widget?</h4>
    <ul>
      <li>Ir hasta el widget añadido</li>
      <li>Clic sobre el icono</li>
      <ul>
        <li>Configurar los ítems mostrados</li>
      </ul>
      <li>Clic sobre Guardar</li>
    </ul>

    <p><a name="gen-5"></a></p>
    <h4>Como quito un widget que no ya no lo uso?</h4>
    <ul>
      <li>Ir hasta el widget que se desea quitar</li>
      <li>Clic sobre el icono</li>
    </ul>

    <p><a name="gen-6"></a></p>
    <h4>Para qué me sirve agregar una nueva pestaña al escritorio? Como la agrego?</h4>
    <p>Brinda la posibilidad de ordenar los distintos contenidos en una nueva vista. Por ejemplo podrías tener una pestaña en la que este contenida solo los widgets de noticias y en otra solo las herramientas, etcétera.</p>
    <ul>
      <li>Clic sobre el icono</li>
      <ul>
        <li>Introducir el nombre de la pestaña</li>
        <li>Configurar las opciones mostradas</li>
        <li>Clic sobre Enviar</li>
      </ul>
    </ul>

    <p><a name="gen-7"></a></p>
    <h4>Como configuro una pestaña?</h4>
    <ul>
      <li>Clic sobre el icono</li>
      <ul>
        <li>Modificar los campos mostrados</li>
        <li>Clic sobre Guardar</li>
      </ul>
    </ul>

    <p><a name="gen-8"></a></p>
    <h4>Como cambio el tema de mi escritorio?</h4>
    <ul>
      <li>Buscar el tema deseado</li>
      <ul>
        <li>Clic en el menu Temas</li>
        <li>Buscar el tema</li>
          <ul>
            <li>Eligiendo directamente de la lista</li>
            <li>Buscando por categorías</li>
          </ul>
        <li>Clic sobre el Aplicar tema</li>
      </ul>
    </ul>

    <p><a name="gen-9"></a></p>
    <h4>Puedo obtener la misma configuración de mi escritorio en otra computadora?</h4>
    <p>Si, lo único que necesitas es tener una cuenta en WUCA, la cual se obtiene registrándote en el sistema.</p>

    <p><a name="gen-10"></a></p>
    <h4>Como me registro en el sistema? Como inicio sesión?</h4>
    <ul>
      <li>Obtener una cuenta</li>
        <ul>
          <li>Clic en el menú Registrarse</li>
          <li>Completar el formulario de registro</li>
          <li>Clic en Enviar</li>
        </ul>
      <li>Activar la cuenta</li>
        <ul>
          <li>Acceder a la bandeja de entrada de su correo electrónico</li>
          <li>Clic en el enlace sugerido</li>
        </ul>
      <li>Iniciar Sesion</li>
        <ul>
          <li>Introducir nombre de usuario y contraseña</li>
          <li>Clic en Enviar</li>
        </ul>
    </ul>

    <p><a name="gen-11"></a></p>
    <h4>Olvide cual era mi contraseña, como la recupero?</h4>
    <ul>
      <li>Ir al menú Login</li>
        <ul>
          <li>Clic en Recuperar Contraseña</li>
          <li>Introduce tu dirección de correo electrónico</li>
          <li>Clic en Enviar</li>
        </ul>
      <li>Ir a la bandeja de entrada de su correo electrónico</li>
        <ul>
          <li>Clic en el enlace sugerido</li>
          <li>Introduzca y confirme su nueva contraseña</li>
          <li>Clic en Enviar</li>
        </ul>
    </ul>

    <p><a name="gen-12"></a></p>
    <h4>Como puedo cambiar los datos de mi perfil?</h4>
    <ul>
      <li>Ir al menú Editar Perfil</li>
        <ul>
          <li>Modifique el formulario mostrado</li>
          <li>Clic en Enviar</li>
        </ul>
    </ul>

    <p><a name="gen-13"></a></p>
    <h4>Al iniciar sesión, me despliega un mensaje "Usuario baneado". Que significa eso? A que se debe esto? Como recupero mi cuenta?</h4>
    <p>Significa que su cuenta fue suspendida de forma temporal o permanente por criterio del administrador del sistema.  Esta suspensión bloquea su acceso y uso de los privilegios obtenidos en el sistema.</p>
    <p>Esto podría deberse a un uso indebido o incumplimiento de alguna política impuesta por el administrador del sistema.</p>
    <p>Para recuperar su cuenta, debe ponerse en contacto con el administrador del sistema, remitiéndole un correo electrónico. A criterio del mismo quedará nuevamente su inclusión.</p>

    <p><a name="gen-14"></a></p>
    <h4>Como puedo comentar un widget? Puedo puntuarlo?</h4>
    <ul>
      <li>Buscar el widget que se desea comentar</li>
        <ul>
          <li>Clic en el menu Widgets</li>
          <li>Buscar el Widget</li>
          <ul>
            <li>Eligiendo directamente de la lista</li>
            <li>Buscando por categorías</li>
            <li>Buscando por palabras claves</li>
          </ul>
          <li>Clic sobre el Widget buscado</li>
          <li>Clic en Escribir Comentario</li>
          <ul>
            <li>Es recomendable que emita una opinión sobre la experiencia obtenida con  el widget, no asi comentarios ofensivos. Un abuso en el comentario podrá ser reportado y borrado por parte del administrador del sistema.</li>
          </ul>
          <li>Clic en Puntuar</li>
          <ul>
            <li>Las puntuaciones tienen una escala de cinco estrellas. Cada una corresponde a Baja calidad, Media para abajo, Normal, Media para Arriba, Excelente</li>
          </ul>
        </ul>
    </ul>

    <h3 class="faq">COLABORAR CON WUCA</h3>
    <p><a name="gen-15"></a></p>
    <h4>Cuales son los privilegios de un usuario desarrollador?</h4>
    <p>Este usuario cuenta con todos los privilegios de un invitado y un de un usuario registrado. La diferencia radica en que posee los privilegios de registro y borrado de los widgets y temas, los cuales él desarrolla* y actualiza. Tambien posee el privilegio de crear grupos de usuarios con el fin de restringir el uso de los widgets que desarrolla.</p>
    <p>* Actualmente WUCA solo interpreta widgets desarrollados con UWA (Api de Netvibes)</p>

    <p><a name="gen-16"></a></p>
    <h4>Cuales son los pasos para registrar un widget?</h4>
    <p>Para obtener el rol de desarrollador, debemos primeramente, obtener una cuenta en el sistema (ver el apartado Como me registro?).</p>
    <ul>
      <li>Clic en el menú Widgets</li>
      <li>Clic en Agregar Nuevo Widget</li>
        <ul>
          <li>Completar el formulario de registro del Widget</li>
          <li>Las URL’s del widget y de la imagen deben corresponden a servidores externos</li>
          <li>El widget puede tener visibilidad pública (vista por todos los usuarios) o privada (vista solo por los usuarios de un grupo)</li>
        </ul>
      <li>La inclusión del nuevo widget deberá ser aprobada por el administrador del sistema</li>
        <ul>
          <li>El sistema le remitirá un correo electrónico que le comunicará la aprobación o rechazo del mismo</li>
        </ul>
    </ul>

    <p><a name="gen-17"></a></p>
    <h4>Quiero modificar unos de mis widgets, como lo hago?</h4>
    <ul>
      <li>Clic en el menú Widgets</li>
      <li>Buscar widget desarrollado</li>
        <ul>
          <li>Buscando directamente de la lista</li>
          <li>Buscando por la categoría Mis Widgets</li>
          <li>Buscando por palabras claves</li>
        </ul>
      <li>Clic sobre el widget buscado. Seleccionar acción:
          <ul>
            <li>Editar</li>
              <ul>
                <li>Modificar campos mostrados</li>
                <li>Clic en Enviar</li>
              </ul>
            <li>Borrar</li>
            <ul>
              <li>Confirmar borrado</li>
            </ul>
          </ul>
    </ul>

    <p><a name="gen-18"></a></p>
    <h4>Para que se crea un grupo?</h4>
    <p>Un desarrollador los crea para que los miembros que componen un grupo, puedan utilizar los widgets privados que él registró.</p>

    <p><a name="gen-19"></a></p>
    <h4>Como creo un grupo?</h4>
    <ul>
      <li>Clic en menú Grupos</li>
      <li>Clic en Nuevo Grupo</li>
        <ul>
          <li>Ingresar el nombre del grupo</li>
          <li>Clic en Enviar</li>
        </ul>
    </ul>

    <p><a name="gen-20"></a></p>
    <h4>Como administro a los miembro y widgets de un grupo?</h4>
    <ul>
      <li>Incluir un miembro</li>
        <ul>
          <li>Clic en Miembros</li>
          <li>Ingresar el Nombre de Usuario</li>
          <li>Clic en Enviar</li>
        </ul>
      <li>Incluir un widget privado</li>
        <ul>
          <li>Clic en Widgets</li>
          <li>Elegir a un  widget de la lista</li>
          <li>Clic en Enviar</li>
        </ul>
    </ul>

    <p><a name="gen-21"></a></p>
    <h4>Como registro un tema?</h4>
    <ul>
      <li>Clic en menú Temas</li>
        <ul>
          <li>Agregar Nuevo Tema</li>
          <li>Completar el formulario de registro</li>
          <li>Las URL de la imagen debe corresponder a un servidor externo</li>
          <li>El widget puede tener visibilidad pública (vista por todos los usuarios) o privada (vista solo por el que la registró)</li>
        </ul>
      <li>La inclusión de un tema con visibilidad pública debe ser aprobada primeramente por el administrador del sistema.</li>
        <ul>
          <li>El sistema le remitirá un correo electrónico que le comunicará la aprobación o rechazo del mismo.</li>
        </ul>
    </ul>

    <p><a name="gen-22"></a></p>
    <h4>Quiero modificar unos de mis temas, como lo hago?</h4>
    <ul>
      <li>Clic en el menú Temas</li>
      <li>Buscar tema desarrollado.Seleccionar acción:</li>
      <ul>
        <li>Editar</li>
        <ul>
          <li>Modificar campos mostrados</li>
          <li>Clic en Enviar</li>
        </ul>
        <li>Borrar</li>
        <ul>
          <li>Confirmar borrado</li>
        </ul>
    </ul>

    <h3 class="faq">PREGUNTAS VARIAS</h3>
    <p><a name="gen-23"></a></p>
    <h4>Sobre que plataformas funciona WUCA? Sistema Operativo? Hardware?</h4>
    <p>WUCA es independiente de la plataforma en el lado cliente, es decir, puede ser ejecutado sobre cualquier arquitectura de hardware y desde cualquier sistema operativo (Linux, Windows, Mac). El único requisito es tener un navegador con acceso a internet, con javascript y cookies activados.</p>

    <p><a name="gen-24"></a></p>
    <h4>Cuáles son los navegadores que soporta WUCA?</h4>
    <p>WUCA soporta la mayoría de los navegadores*, pero fue optimizado para utilizarlo con Mozilla Firefox. Se recomienda usar la ultima versión disponible en www.firefox.com</p>
    <p>* Funcionan con Chrome, Safari, Opera y Explorer pero podrían presentar algunos desperfectos visuales para el usuario.</p>

    <p><a name="gen-25"></a></p>
    <h4>Que significa que debo tener activadas las cookies y javascript? Como las activo?</h4>
    <p>Una cookie permite almacenar preferencias del visitante de la pagina a través del navegador web. Para activarlo* ir a Herramientas > Informacion de la pagina > Permisos > Establecer cookies</p>
    <p>Javascript sirve básicamente para mejorar las intefaces con el usuario. Para activarlo* ir a Herramientas > Opciones > Contenido > Activar Javascript</p>
    <p>* Esta configuración está guiada para Mozilla Firefox</p>

    <p><a name="gen-26"></a></p>
    <h4>Que significa "Información no disponible temporalmente"?</h4>
    <p>Significa que el servidor que contiene al widget se encuentra fuera de servicio. Esto se debe a que WUCA se sirve de otros servidores para la ejecución de los widgets, y por tanto, está sujeto al funcionamiento de los mismos.</p>

    <p><a name="gen-27"></a></p>
    <h4>Me sale un error que no logro descifrarlo, como lo reporto?</h4>
    <p>Ante cualquier error en la aplicación, no dude en escribir al correo electrónico del administrador del sistema.</p>

    <p><a name="gen-28"></a></p>
    <h4>Tengo otras preguntas que no aparecen en el listado? Como puedo ponerme en contacto con ustedes?</h4>
    <p>Cualquier duda, contribución u otro particular, no dude en remitir un correo electrónico al administrador del sistema.</p>
  </div>
</div>